body {
    background-color: #999999;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginForm {
    width: 250px;
    height:320px;
    border-radius: 20px;
    background-color: #CC0000;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;    
}

.loginForm, .CadForm, .UsuForm h2 {
    text-align: center;
}

.loginForm input {
    background-color: white;
    border: none;
    width: 215px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    font-size: 16px;
}

.entrar {
    width: 180px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    font-size: 25px;
    justify-content: center;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
}

.recupSenha {
    width: 135px;
    height: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 18px;
    border: none;
}

.loginForm button:hover {
    background-color: #FF6666;
}


.cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
}

.CadForm {
    width: 250px;
    height:320px;
    border-radius: 20px;
    background-color: #CC0000;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;    
}

.CadForm input {
    background-color: white;
    border: none;
    width: 220px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    font-size: 16px;
    margin-top: -12px;
}
.cadastrar {
    width: 180px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    font-size: 25px;
    justify-content: center;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
}

.CadForm button:hover {
    background-color: #FF6666;
}

.usuario {
    display: flex;
    justify-content: center;
    align-items: center;
}

.UsuForm {
    width: 250px;
    height:320px;
    border-radius: 20px;
    background-color: #CC0000;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;    
}

.UsuForm input {
    background-color: white;
    border: none;
    width: 220px;
    height: 30px;
    border-radius: 10px;
    font-size: 16px;
    margin-top: -12px;
    margin-left: 12px;
}

.UsuForm button {
    width: 180px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    font-size: 25px;
    justify-content: center;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
}

.UsuForm button:hover {
    background-color: #FF6666;
}

.RedUsuario button {
    width: 100px;
    height: 30px;
    background-color: red;
    border-radius: 5px;
    top: 5px;
    right: 5px;
    position: absolute;
    
}

.RedUsuario button:hover {
    background-color: whitesmoke;
}

.RedUsuario a {
    color:black;
}

.RedLogin button {
    width: 130px;
    height: 30px;
    background-color: red;
    border-radius: 5px;
    top: 5px;
    left: 5px;
    position: absolute;
    
}

.RedLogin button:hover {
    background-color: whitesmoke;
}

.RedLogin a {
    color:black;
}

.RedCadastro button {
    width: 120px;
    height: 38px;
    background-color: red;
    border-radius: 5px;
    top: 5px;
    left: 5px;
    position: absolute;
    
}

.RedCadastro button:hover {
    background-color: whitesmoke;
}

.RedCadastro a {
    color:black;
}

