body {
    background-color: wheat;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginForm h2 {
    font-size: 60px;
}

.loginForm {
    width: 480px;
    height:630px;
    border-radius: 40px;
    background-color: #733910;
    background-image: url(/imagens/Logo.jpeg);
    background-size: cover;
    background-blend-mode: multiply;
    background-position: center;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;   
    font-size: 25px;
    color: whitesmoke; 
    text-shadow: 
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}

.loginForm, .CadForm, .UsuForm h2 {
    text-align: center;
}

.loginForm input {
    background-color: white;
    border: none;
    width: 428px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    font-size: 30px;
}

.entrar {
    width: 340px;
    height: 100px;
    background-color: white;
    border-radius: 30px;
    font-size: 55px;
    justify-content: center;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
}

.recupSenha {
    width: 250px;
    height: 35px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 45px;
    border-color: #733910;
    border-radius: 5px;
}

.loginForm button:hover {
    background-color: darkgray;
    transform: scale(1.05);
}

.cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
}

.CadForm h2{
    font-size: 60px;

}
.CadForm {
    width: 480px;
    height:650px;
    border-radius: 30px;
    background-color: #733910;
    background-image: url(/imagens/Logo.jpeg);
    background-size: cover;
    background-blend-mode: multiply;
    background-position: center;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px; 
    color: whitesmoke; 
    font-size: 25px;
    text-shadow: 
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;   
}

.CadForm input {
    background-color: white;
    border: none;
    width: 430px;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    font-size: 30px;
    margin-top: -12px;

}
.cadastrar {
    width: 340px;
    height: 100px;
    background-color: white;
    border-radius: 30px;
    font-size: 50px;
    justify-content: center;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 75px;
}

.CadForm button:hover {
    background-color: darkgray;
    transform: scale(1.05);
}

.usuario {
    display: flex;
    justify-content: center;
    align-items: center;
}

.UsuForm h2 {
    font-size: 60px;
}
.UsuForm {
    width: 480px;
    height:650px;
    border-radius: 40px;
    background-color: #733910;
    background-image: url(/imagens/Logo.jpeg);
    background-size: cover;
    background-blend-mode: multiply;
    background-position: center;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;    
    color: whitesmoke; 
    font-size: 25px;
    text-shadow: 
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}

.UsuForm input {
    background-color: white;
    border: none;
    width: 430px;
    height: 45px;
    border-radius: 10px;
    font-size: 30px;
    margin-left: 20px;
    margin-right: 10px;
}

.UsuForm button {
    width: 340px;
    height: 100px;
    background-color: white;
    border-radius: 30px;
    font-size: 50px;
    justify-content: center;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
}

.UsuForm button:hover {
    background-color: darkgray;
    transform: scale(1.05);
}

.RedUsuario button {
    width: 150px;
    height: 45px;
    background-color: saddlebrown;
    border-radius: 5px;
    top: 5px;
    right: 5px;
    position: absolute;
}

.RedUsuario button:hover {
    background-color: #733910;
    transform: scale(1.05);
}

.RedUsuario a {
    color: whitesmoke;
    text-decoration: none;
}

.RedLogin button {
    width: 190px;
    height: 50px;
    background-color: saddlebrown;
    border-radius: 5px;
    top: 5px;
    left: 5px;
    position: absolute;
}

.RedLogin button:hover {
    background-color: #733910;
    transform: scale(1.05);
}

.RedLogin a {
    color:whitesmoke;
    text-decoration: none;
    font-size: 20px;
}

.RedCadastro button {
    width: 170px;
    height: 50px;
    background-color: saddlebrown;
    border-radius: 5px;
    top: 5px;
    left: 5px;
    position: absolute;
}

.RedCadastro button:hover {
    background-color: #733910;
    transform: scale(1.05);
}

.RedCadastro a {
    color:whitesmoke;
    text-decoration: none;
    font-size: 20px;
}



